*{
    background-color: #b0b7bd;
}

.array h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.array p{
    color: rgb(0, 21, 255);
    margin-top: 5px;
}
.ARR h2{
    color: rgb(0, 128, 11);
    border: 2px solid black;
    position: relative; 
}
.ARR p{
    color: rgb(0, 21, 255);
    margin-top: 5px;
}
.array,.funcoes-com-array,.arrays-bidimensionais,.splice-slice h2{
    
    color: rgb(128, 9, 0);

}