body{
    background: #CCCCCC;/* colcando estilo de cor no body do html*/
}
#banner{
    width: 100%;
}
h1{
    text-align: center;
}
p{
    text-align: center; /*essa propriedade será aplicada em todos os parágrafos*/
}
#missao{
    font-size:20px
}
em strong{ /*Essa propriedade será aplicada apenas das tags <em><strong>*/
    color: #FF0000;
}
